.header-container {
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo {
    height: 40vmin;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}